
// Font Sizes
$font-size-display: 8em;
$font-size-h1: 5.6em;
$font-size-h2: 4.8em;
$font-size-h3: 4em;
$font-size-h4: 3.2em;
$font-size-subheading: 2.4em;
$font-size-body-sm: 1.4em;
$font-size-body-md: 1.6em;
$font-size-body-lg: 1.8em;
$large-text: 2em;
$font-size-caption: 1.4em;
$font-size-caption-sm: 1.2rem;

// INTERACTION STATES (Buttons, Links, etc.)
$color-primary-hover: #0c66d4;
$color-primary-active: #0a58c0;
$color-disabled: #b3b3b3;

// Utility / Status colors
$color-silver: #c0c0c0;
$color-success: #4caf50;
$color-warning: #ffc107;
$color-error: #d32f2f;
$color-info: #267ccd;

// Accent color 
$color-accent: #d25018;
$color-accent-hover: #a73200;

// Neutral colors
$color-white: #ffffff;
$color-offwhite: #f8f8f8;
$color-lightest-gray: #eaeaea;
$color-light-gray: #b3b3b3;
$color-gray: #666666;
$color-dark-gray: #393939;
$color-dark: #1f1f1f;

// Primary brand colors
$primary-color: #0f77ee;
$color-primary-dark: #0b2882;
$color-primary-light: #e9f2ff;

// Background gradient colors
$color-gradient-start: rgba(5, 17, 61, 0.635);
$color-gradient-end: rgba(5, 17, 61, 0.7);